﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="AGLTest.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:Label runat="server" Text="" ID ="output"></asp:Label>
    </div><div></div><div></div>
        <div>
            <asp:Label runat="server" Text="" ID ="output2"></asp:Label>
        </div>
        <div></div><div></div>
        <div>
            <asp:Label runat="server" Text="" ID ="output3"></asp:Label>
        </div>
        <div></div><div></div>
        <div>
            <asp:Label runat="server" Text="" ID ="output4"></asp:Label>
        </div>
    </form>
</body>
</html>
